*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
 /* shared style  */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
  font-size: 40px;
  font-weight: 700;
  
  color: green;
margin-bottom: 0;

}
.logo p{
  font-size: 10px;
  color: #554c4c;
  font-weight: bold;
  margin-top: 0;
}



/* main style */

header{
  background-color:#dd1313;
  margin: 20px;
}
nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  

}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

nav .menu a{
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
 
}
.btn{
  background-color: green;
  border: none;
 text-align: center;
 padding: 15px 35px;
 border-radius: 5px;
 margin-top: 20px;
}